.slide-form{
    animation-duration: 1.5s;
    animation-name: slidein;
    
}
@keyframes slidein{
    /*fazer a animação descer*/
    from{
        margin-top: -100%;
    }
    to{
        margin-bottom: 60%;
        
    }
}
.botao{
    scale: (2.1);
}
@keyframes botao{
    25%{transform: translateX(2px);}
}
.figpositivo{
    animation: figpositivo 2s infinite;
}
@keyframes figpositivo{
    0% {opacity: 0%}
    25% {transform: translateX(0px); opacity: 100%}
    100% {opacity: 0%}
}