#form > h1:hover{
    color: #F7E801;
    transition: all 0.5s ease-in;
}
.hvr-bk{
    transition: all 0.5s ease-in-out;/*transição no elemento e não no hover*/
}
.hvr-bk:hover{
    background-color: #F7E801;
    border-radius: 15px;
}
.botao{
    transition: all 0.3s ease-in-out;
}
.botao:hover{
    background-color: blue;
    color:#F7E801;
    font-weight: bold;
    border-radius: 15px;
}